.myc-date-header {
    border-right: 1px solid #e0e0e0;
    display: inline-block;
    min-height: 50px;
    padding: 7px 0px 6px 6px !important;
    vertical-align: top;
    width: 12.77%;
    text-align: center;
    font-size: 12px !important;
}
.myc-date-number {
    font-weight: lighter;
    display: block !important;
    font-size: 14px;
}
.myc-date-display {
    font-weight: lighter;
    display: inline;
    margin-left: 0;
}
.myc-available-time {
    padding: 0;
    margin: 2px;
    font-size: 12px;
    width: unset;
}
.myc-day-time-container {
    padding: 0px !important;
    width: 19% !important;
}
.myc-date-header {
    padding: 0 !important;
    margin: 0 !important;
}
.myc-date-header {
    border-right: 1px solid #e0e0e0;
    display: inline-block;
    min-height: 50px;
    vertical-align: top;
    width: 20%;
    text-align: center;
    font-size: 12px !important;
}
.myc-available-time {
    padding: 0;
    margin: 10px 0;
    font-size: 12px;
    width: unset;
    border-radius: 5px;
    background-color: #F7F7F7;
}
#myc-next-week {
    position: absolute;
    right: 50px;
    top: 50%;
    width: 10px;
    border: unset;
    color: black;
    transform: translateY(-10%);
}
#myc-prev-week {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 10px;
    border: unset;
    color: black;
    transform: translateY(-10%);
}

#myc-next-week:hover{
    border: unset;
    color: black;
    opacity: 1;
}

#myc-prev-week:hover{
    border: unset;
    color: black;
    opacity: 1;
}