/**
 * JS Progress Gauge
 * Author: CalvinNunes [calvin_nunes13@hotmail.com]
 * Version: 1.0.0
 */

.progressGauge-boxbar{
	position: relative;
	display: flex;
	align-items: center;
}

.progressGauge-progressbar {
    width: 100%;
	margin: 0px;
	position: absolute;
	background-color: #EEEEEE;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
	display: flex;
    align-items: center;
}

.progressGauge-progress{
	position: absolute;
	height: 8px;
	background-color: #3498db;
}

.progressGauge-displaybox{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px 2px;
}

.progressGauge-displaylabel{
	display: inline-flex;
	z-index: 10;
}

.progressGauge-displaytitle{
	display: inline-flex;
	z-index: 10;
}