:root {
    --white:white;
    --navBack:#F5F5F5;
    --banner1: #ed4e19e3;
    --banner2:#d7aa22d8;
    --second: #F7F7F7;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --boxShadow: rgba(0,0,0,0.15);
    --li:#FFF9EC;
    --liText:#FDDF6D;
    --ash:rgba(255,255,255,0.7);
    --footer:#FFCC4D;
    --silver:#E3E3E3;
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--white);
    overflow-x: hidden !important;
    /* border-radius: unset; */
}
html{
    overflow-x: hidden !important;
}
/* .container{
    max-width: 85% !important;
} */

/* ======================================header section===================================== */
.topBar{
    padding: 20px 60px 0px;
}
.siteLogo{
    width: 162px;
}
#basic-addon1{
   background-color: var(--white) !important;
   border: 0;
   border-radius: 50rem;
}
.form-control{
    border: 0 !important;
    margin: 0;
    background-color: transparent;
}
.search{
    border: 1px solid black;
    padding:2px 30px 2px 10px;
    display: inline-flex;
    flex-direction: row;
    border-radius: 50rem;
    /* width: 100%; */
    margin-left: 125px;
}
.search input:hover{
    border: 0 !important;
}
/* ======================================header section===================================== */


/* =========================================navbar========================================== */
.header{
    background-color: var(--navBack);
    border: 0;
}
.vg-nav > ul > li {
    padding: 0px 8px;
}
/* .header ul li{
    margin: 0;
    padding: 20px;
}
.header ul li a{
    font-size: 14px !important;
    margin: 0 !important;
    padding: 0 !important;
} */
.header ul li button{
    font-size: 14px !important;
    margin: 0 !important;
    display: inline-block;
    padding: 20px 20px !important;
    border-radius:0 ;
}
.align-items-center {
    padding-left: 40px;
}
.ml-85{
    margin-left: 235px !important;
    
}
.vg-nav .dropdown ul {
    background: var(--white) !important;
    box-shadow: 0 4px 7px var(--boxShadow);
}
.left li a:hover{
    background-color: var(--li) !important;
    color: var(--liText) !important;
    transition: all 0.2s ease-in;
    transform: scale(1.01);
    border-radius: 5px;
}
.left ul li{
    padding: 0 !important;
}
/* .left li:hover a{
    color: #FDDF6D !important;
} */
.left li a:hover .dropdown.dropdown ul li a{
    background-color: var(--white) !important;
    color: var(--dark) !important;
}
.left ul li li:hover{
    background-color: var(--li) !important;
    color: var(--liText) !important;
    transition: all 0.2s ease-in;
    transform: scale(1.01);
    border-radius: 5px;
}
.left ul li li:hover a{
    color: var(--liText) !important;
}
.container{
    max-width: 85% !important;
    z-index: unset;
}
/* nav ul li a{
    margin: auto 20px;
    font-size: 12px;
} */
/* .dropdown-item{
    margin: 0 !important;
}
.dropdown-menu{
   position: relative;
} */


/* .dropdown-item:hover{
    background-color: var(--li) !important;
    color: var(--liText) !important;
    transition: all 0.2s ease-in;
    transform: scale(1.01);
    border-radius: 5px;
}
.dropdown-item{
    padding: 10px !important;
    border: 0;
} */

/* =========================================navbar========================================== */

/* ==========================================Slides========================================== */
.Slides{
    padding: 0;
    margin: -24px;
}
.Slides .card{
    background-color: transparent;
    border: 0;
    /* border-radius: 150px !important; */
}
.slick-dots .slick-active{
    background-color: var(--yellow) !important;
    border-radius: 50%;
    border: 0 !important;
}
.slick-dots li{
    /* background-color: yellow; */
    border: 1px solid black;
    border-radius: 50%;
    color: white;
}
.slick-dots{
    color: white !important;
    position: absolute;
    bottom: 20px;
}
.font-85{
    font-size: 65px;
}
.Slides button{
    border-radius: unset;
}
.hero-title{
    position: absolute;
    left: 185px;
    top: 30%;
    color: white;
}
.slider1_next_arrow{
    position: absolute;
    background-color: var(--warning);
    z-index: 1;
    top: 40%;
    right: 4%;
}

.slider1_prev_arrow{
    position: absolute;
    background-color: var(--warning);
    z-index: 1;
    top: 40%;
    left: 4%;
}
/* ==========================================Slides========================================== */

/* ==============================================newArrival======================================= */
.newArrival{
    padding: 50px 0;
    background-color: var(--white);
}
.line{
    height: 4px;
    width: 200px;
}
.newArrival .col-md-6{
    padding: 0 10px !important;
}
.newArrivalCard1{
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: 0;
}
.newArrivalCard1 h6{
    margin: 0;
}
.newArrivalCard1 p{
    padding: 0 !important;
    display: inline;
}
.newArrivalCard1 .card-body{
    margin: 0;
    padding: 0;
}

.newArrival .col-4{
    
    margin: 0 !important;
}
.font-14{
    font-size: 12px;
    position: absolute;
    right: 6px;
    bottom: -4px;
}
.slider2_next_arrow{
    position: absolute;
    background-color: var(--warning);
    z-index: 1;
    top: 30%;
    right: -3%;
}

.slider2_prev_arrow{
    position: absolute;
    background-color: var(--warning);
    z-index: 1;
    top: 30%;
    left: -3%;
}
/* ==============================================newArrival======================================= */

/* ================================================feature====================================== */
.feature{
    padding: 50px 0 0 0;
}
.font-80{
    font-size: 65px;
}
.font-50{
    font-size: 50px;
}
.shopbtn{
    position: absolute;
    top: 40%;
}
.feature .card{
    border: 0;
    margin: 10px;
}
/* =================================================feature===================================== */


/* =================================================footer===================================== */
/* =================================================footer===================================== */
.footer{
    padding: 50px 0;
    background-color: var(--footer);
}
.footer input{
    background-color: var(--white);
    border: 2px solid var(--dark) !important;
}
.font-10{
    font-size: 10px;
}
.mll-2{
    margin-left: 0.9rem;
}
.footer ul{
    padding-left: 0!important;
}
.footer ul li h6{
    margin: 15px 0 !important;
}
.footer p{
    margin: 15px 0 !important;
}
.footer img{
    margin: 15px 0 !important;
}
/* =================================================footer===================================== */
/* =================================================footer===================================== */






.smallfooter{
    padding: 20px 0;
}
.font-15{
    font-size: 15px;
}



/* ======================================= product page ============================================= */
.pagination{
    padding: 50px 0;
}

/* =======================images section===================== */
.images{
    padding-bottom:50px ;
}
.images button{
    border-radius: unset;
}
.images .col-md-1{
    display: flex;
    flex-direction: column;
}
.images .col-md-1 .card{
    margin: 5px 0;
}
.btn-silver{
    background-color: var(--silver) !important;
}
.nomarginnopadding{
    margin: 0 !important;
    padding: 5px !important;
}
.nomarginnopadding .btn{
   border-radius: unset;
    font-size: 12px;
}

/* ==========================================details======================================= */
.details{
    padding-bottom: 50px;
}
.details ul li i{
    font-size: 10px;
}
.details ul li span{
    font-size: 12px;
}
.details ul li{
    margin: 0 20px;
}
/* ==========================================details======================================= */
/* ===========================================review======================================= */
.review{
    padding-bottom: 50px;
}
.review .btn{
    border-radius: unset;
}
.review .star{
    font-size: 40px;
}
/* ===========================================review======================================= */
/* ==========================================featureSection================================ */
.featureSection{
    padding: 50px 0;
}
.featureSection .card{
    border: 0;
    margin: 10px ;
}








/* ============================================== contact us page =============================== */
.map{
    padding-bottom:50px;
}
.usefull{
    background-color: var(--silver);
    padding: 50px;
}








/* =================================about us page================================= */
.whoweare{
    padding-bottom: 50px;
}







/* =====================================new arrival page============================ */
.arrivals{
    padding-bottom: 50px;
}
.arrivals .card{
    border: 0;
}


/* ===================media queries======================== */
@media only screen and (max-width:1300px){
    .ml-85{
        margin-left: 220px !important;
    }
}
@media only screen and (max-width:1273px){
    .ml-85{
        margin-left: 190px !important;
    }
}
@media only screen and (max-width:1260px){
    .ml-85{
        margin-left: 190px !important;
    }
}
@media only screen and (max-width:1238px){
    .ml-85{
        margin-left: 160px !important;
    }
}
@media only screen and (max-width:1210px){
    .ml-85{
        margin-left: 145px !important;
    }
}
@media only screen and (max-width:1201px){
    .ml-85{
        margin-left: 145px !important;
    }
}
@media only screen and (max-width:992px){
    .footer{
        text-align: center;
    }
    .footer .col-lg-3:nth-child(1){
        border-bottom: 2px solid white;
        margin-bottom: 10px;
    }

    .footer .col-lg-2{
        border-bottom: 2px solid white;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:768px){
    .search {
        border: 1px solid black;
        padding: 2px 30px 2px 10px;
        display: inline-flex;
        flex-direction: row;
        border-radius: 50rem;
        width: 100%;
        margin-top: 10px;
        margin-left: 0 !important;
    }
    .topBar .container{
        max-width: 100% !important;
    }
    .topBar img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .smallfooter p{
        text-align: center;
    }
    .smallfooter ul{
        text-align: center;
    }
    .col-md-6.col-sm-12.fulls {
        padding: 0;
    }
}

